
#navbar {
    background-color: #565656; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


#container1 {
    display: flex;
    flex-direction: row;
}


.ImageText{
    font-family: 'Questrial', sans-serif;
}

#header{
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    
}

#tagLine{
    text-align: center;
    font-size: 50px;
}


/* About Me  */

#AboutMe{
    background-color: #9099A2;
    color: white;
}
.sectionTitle1{
    font-size: 30px;
    margin: 10px;
    padding: 30px;
    padding-bottom: 10px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

#descriptor1{
    font-family: 'Oxygen', sans-serif;
    margin: 10px;
    padding: 30px;
}

/* Skills */

#Skills{
    background-color: #6D7993;
    color: white;
}

#sectionTitle2{
    font-size: 30px;
    margin: 0px;
    padding: 30px;
    margin-top: -10px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}

.skills{
    /* margin: 10px;
    padding: 10px; */
    text-align: center;
    font-size: 30px;
    /* margin-top: 50px; */
    font-family: 'Questrial', sans-serif;
}

.descriptor2{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

